<div>
    <h3><u>Lecturer Details</u></h3><h4>ID:  {{lecturer.id}}</h4>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-2">
                <label for="">First Name:</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fname" [(ngModel)]="lecturer.fname" name="fname" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="">Last Name:</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="lname" [(ngModel)]="lecturer.lname" name="lname" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="">Email:</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="email" [(ngModel)]="lecturer.email" name="email" readonly>
            </div> 
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="">Username</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="username" [(ngModel)]="lecturer.username" name="username" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="">Password</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="password" [(ngModel)]="lecturer.password" name="password" readonly>
            </div>  
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="">Qualification</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="qualification" [(ngModel)]="lecturer.qualification" name="qualification" readonly>
            </div>
            
            
        </div>
        <div class="d-grid">
            <button class="btn btn-success btn-block rounded-pill" type="submit">Return</button>
        </div>
        
    </form>
</div>
