

<div class="container mt-5 pt-5 pb-5 ">
    <h2>Online Reference </h2>
    <div class="col-12">
        
        <div class="d-flex  flex-column">
            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">Emerald Insight</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.emerald.com/insight/' class="btn btn-primary">Go</a>
                    </div>
                </div>

                <div class="card shadow m-4 bg-warning text-white flex-fill">
                    <div class="card-body ">
                        <h5 class="card-title">Google Scholar</h5>
                        <p class="card-text"></p>
                        <a href="https://scholar.google.com/" class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>

            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Google Books</h5>
                        <p class="card-text"></p>
                        <a href = 'https://books.google.com/' class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">WorldAtlas</h5>
                        <p class="card-text"></p>
                        <a href = 'http://www.worldatlas.com/' class="btn btn-primary">Gor</a>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">UTube Edu</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.youtube.com/education' class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Base</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.base-search.net/' class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">UTube Edu</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.youtube.com/education' class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Base</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.base-search.net/' class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>

            
        </div>
    </div>
</div>


<div class="container mt-5 pt-5 pb-5 ">
    <h2>Online Reference </h2>
    <div class="col-12">
        
        <div class="d-flex  flex-column">
            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">Emerald Insight</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.emerald.com/insight/' class="btn btn-primary">Go</a>
                    </div>
                </div>

                <div class="card shadow m-4 bg-warning text-white flex-fill">
                    <div class="card-body ">
                        <h5 class="card-title">Google Scholar</h5>
                        <p class="card-text"></p>
                        <a href="https://scholar.google.com/" class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>

            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Google Books</h5>
                        <p class="card-text"></p>
                        <a href = 'https://books.google.com/' class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">WorldAtlas</h5>
                        <p class="card-text"></p>
                        <a href = 'http://www.worldatlas.com/' class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">UTube Edu</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.youtube.com/education' class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Base</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.base-search.net/' class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">UTube Edu</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.youtube.com/education' class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card shadow m-4 bg-warning text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Base</h5>
                        <p class="card-text"></p>
                        <a href = 'https://www.base-search.net/' class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>

            
        </div>
    </div>
</div>
