<h1>Lecturer List</h1>
<div class="clearfix mb-3">
    <button (click)="createLecturer()" class="btn btn-success btn-md rounded-pill float-end">New Lecturer</button>
</div>


<table class = "table table-striped ">
    <thead class="table-dark">
        <tr>
            <th>Lecturer ID</th>
            <th>Actions</th>
            <th>Email</th>
            
            <th>Username</th>
            <th>Password</th>
            <th>Qualification</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let lecturer of lecturers">
            <td>{{lecturer.id}}</td>
            <td>
                <button (click)='updateLecturer(lecturer.id)' class="btn btn-info btn-sm rounded-pill">Update</button>
                <button  (click)='deleteLecturer(lecturer.id)' class="btn btn-danger btn-sm rounded-pill" style="margin-left: 10px">Delete</button>
                <button  (click)='lecturerDetails(lecturer.id)' class="btn btn-warning btn-sm rounded-pill" style="margin-left: 10px">Details</button>
            </td>
            <td>{{lecturer.email}}</td>
            
            <td>{{lecturer.username}}</td>
            <td>{{lecturer.password}}</td>
            <td>{{lecturer.qualification}}</td>
            
        </tr>
    </tbody>
</table>
