
<div>
    <h3 class="Display-3">New Lecturer</h3>
    <form (ngSubmit)="onSubmit()" class="form-control bg-secondary">
        <div class="row">
            <div class="col-sm-2">
                <label for="" class="form-control">Lecturer ID:</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" [(ngModel)]="lecturer.id" name="id" >
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="" class="form-control">First Name:</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fname" [(ngModel)]="lecturer.fname" name="fname" >
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="" class="form-control">Last Name:</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="lname" [(ngModel)]="lecturer.lname" name="lname" >
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="" class="form-control">Email:</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="email" [(ngModel)]="lecturer.email" name="email" >
            </div> 
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="" class="form-control">Username</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="username" [(ngModel)]="lecturer.username" name="username" >
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="" class="form-control">Password</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="password" [(ngModel)]="lecturer.password" name="password" >
            </div>  
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label for="" class="form-control">Qualification</label>
            </div>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="qualification" [(ngModel)]="lecturer.qualification" name="qualification" >
            </div>
        </div>
            
        <div class="d-grid">
            <button class="btn btn-primary btn-block rounded-pill" type="submit">Submit</button>
        </div>
        
    </form>
</div>