
<div class="container mt-5 pt-5 pb-5 " >
    <div class="col-12">
        <div class="d-flex  flex-column">
            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-secondary text-white flex-fill">
                    <div class="card-body ">
                        <h5 class="card-title">Student Panel</h5>
                        <p class="card-text">A new student can be added, student list view, update and delete students.</p>
                        <a routerLink = '../students' class="btn btn-primary">Go</a>
                    </div>
                </div>

                <div class="card shadow m-4 bg-secondary text-white flex-fill">
                    <div class="card-body ">
                        <h5 class="card-title">Lecturer Panel</h5>
                        <p class="card-text">A new lecturer can be added, lecurer list view, update and delete lecturers.</p>
                        <a routerLink = '../lecturers' class="btn btn-primary">Go</a>
                    </div>
                </div>

            </div>

            <div class="d-flex flex-row">

                <div class="card shadow m-4 bg-secondary text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Add new student</h5>
                        <p class="card-text">Click here to add a new student!</p>
                        <a routerLink = '../create-student' class="btn btn-success">New Student</a>
                    </div>
                </div>
                <div class="card shadow m-4 bg-secondary text-white flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Add new lecturer</h5>
                        <p class="card-text">Click here to add a new lecturer!</p>
                        <a routerLink = '../create-lecturer' class="btn btn-success">New Lecturer</a>
                    </div>
                </div>

            </div>

            
        </div>
    </div>
</div>
