<h1>Student List</h1>
<div class="clearfix mb-3">
    <button (click)="createStudent()" class="btn btn-success btn-md rounded-pill float-end">New Student</button>
</div>


<table class = "table table-striped ">
    <thead class="table-dark">
        <tr>
            <th>Student ID</th>
            
            <th>Email</th>
            
            <th>Username</th>
            <th>Password</th>
            <th>Degree Program</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{student.id}}</td>
            
            <td>{{student.email}}</td>
            
            <td>{{student.username}}</td>
            <td>{{student.password}}</td>
            <td>{{student.degree}}</td>
            <td>
                <button (click)='updateStudent(student.id)' class="btn btn-info btn-sm rounded-pill" style="margin-left: 20px">Update</button>
                <button  (click)='deleteStudent(student.id)' class="btn btn-danger btn-sm rounded-pill" style="margin-left: 20px">Delete</button>
                <button  (click)='studentDetails(student.id)' class="btn btn-warning btn-sm rounded-pill" style="margin-left: 20px">Details</button>
            </td>
        </tr>
    </tbody>
</table>